<div class="mat">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
      </mat-form-field>  
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id categorie </th>
          <td mat-cell *matCellDef="let element"> {{element.categorieid }} </td>
        </ng-container>
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef>  nom </th>
          <td mat-cell *matCellDef="let element"> {{element.nom }} </td>
        </ng-container>
    
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>  image </th>
          <td mat-cell *matCellDef="let element">
            <img [src]="element.image" alt="Product Image" width="50" height="50">
          </td>
        </ng-container>
    
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button class="btn1" (click)="showUpdateCategorieForm(element)" >
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="btn2" (click)="deleteCategorie(element.categorieid)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

    <div *ngIf="showUpdateForm">
      <form [formGroup]="categorieForm" (ngSubmit)="updateCategorie()">
        <mat-form-field>
          <input matInput placeholder="Nom du Category" formControlName="nom">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="description"  formControlName="description">
        </mat-form-field>
        <input type="file" (change)="onFileSelected($event)" accept="image/*">
      <button type="submit" mat-raised-button color="primary">modifier</button>
    </form>
    
    </div>