<br>
<mat-form-field style=" margin-left:5%;display: flex; justify-content: flex-end; width: 90%;">
<input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
</mat-form-field>  

<div class="mat" style=" width: 90%;margin-left: 5%;">
  
  <table mat-table [dataSource]="dataSource" >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id categorie </th>
      <td mat-cell *matCellDef="let element"> {{element.categorieid }} </td>
    </ng-container>
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>  nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom }} </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>  image </th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.image" alt="Product Image" width="50" height="50">
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button class="btn1" (click)="openDialogg(element.nom,element.categorieid,element.image)" >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="btn2" (click)="deleteCategorie(element.categorieid)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button class="btn3" (click)="openDialog(element.categorieid)">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<br><br><br>
<div style="text-align: center;">
<button mat-raised-button color="primary" (click)="showAddCategorieForm()">Ajouter une categorie</button>
<button style="margin-left: 20%;" mat-raised-button color="primary" (click)="showAddSubcategorieForm()">Ajouter une subcategorie</button>
<div *ngIf="showAddForm">
  <app-add-categorie></app-add-categorie>

</div>
<div *ngIf="showAddsubForm">
  <app-add-subcategorie></app-add-subcategorie>
</div>

</div>
<div *ngIf="showSubForm">
  <app-subcategorie [selectedCategoryId]="selectedCategoryId"></app-subcategorie>
</div>

 

