<div class="text">Dashboard</div>
    <span class="example-spacer"></span>
    <div class = "cards">
        <div class="card c1">
            <span class="textt">NEW ORDERS</span>
            <i class='bx bxs-shopping-bag icons' style='color:#8862E0'></i><br>
            <span class="chiffre">32566</span><br>
            <span class="pourcentage">2.00% (30 days)</span>
        </div>
        <div class="card c2">
            <span class="textt">TOTAL INCOME</span>
            <i class='bx bxs-dollar-circle icons' style='color:#19D895'></i><br>
            <span class="chiffre">$14,566</span><br>
            <span class="pourcentage">incresed by 7.25%</span>
        </div>
        <div class="card c3">
            <span class="textt">TOTAL EXPENSE</span>
            <i class='bx bx-task icons' style='color:#2196f3'></i><br>
            <span class="chiffre">32566</span><br>
            <span class="pourcentage">incresed by 3.25%</span>
        </div>
        <div class="card c4">
            <span class="textt">NEW USERS</span>
            <i class='bx bxs-user-circle icons' style='color:#FFAF00'></i><br>
            <span class="chiffre">32566</span><br>
            <span class="pourcentage">51.1%</span>
        </div>
    </div>
    
      

