.card{
    margin: 17px;
    margin-left: 50px;
    display: inline-block;
    flex-grow: 1;
    flex-wrap:wrap;
    padding: 10px;
    z-index: 1;
    width: 265px;
    height : 430px;
    
}
.cards{
    display: inline-block;
}
.card-img{
    width: 245px;
    height :220px;
}
.card-text{
    font-weight: 500;
    font-size: medium;
}
.quanti{
    width : 50px;
}
.btn{
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 50px;
    background-color: #7DA5F0;
    color: #fff;
    height: 50px;
}
